<div id="root">
  <div class="container">

    <div class="header row">
      <div class="col-12">
        <h1>Vivero el Otoño</h1>
      <hr>
      </div>
      <div class="col-12">
        <img src="assets/istockphoto-1331336878-612x612.jpg">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <app-plantas></app-plantas>
      </div>
    </div>

    <div class="footer row">
      <div class="col-12">
        Contact us: +57 3102105253 - info@viveroelotonio.com - @viveroelotonio
      </div>
    </div>

  </div>
</div>